<!DOCTYPE html>
<html>
    <head>
        <title>Francesco Presta - Projects & Skills</title>
        <link rel="stylesheet" type="text/css" href="../static/main.css">
    </head>
    <div id="projects" class="tab-content"></div>
    <h2>Skills (In-depth)</h2>
      <ul>
        <li>Machine Learning: Proficient in various ML techniques such as supervised and unsupervised learning, deep learning, and neural networks. Experience with popular ML frameworks such as TensorFlow, Keras, and Scikit-learn.</li>
        <li>Computer Vision: Experience with image processing and object detection using OpenCV and Python. Familiar with deep learning-based image classification and object detection using TensorFlow and Keras.</li>
        <li>Data Analysis: Skilled in data cleaning, preprocessing, and visualization using Python (Pandas, Numpy) and R. Experience with statistical analysis and hypothesis testing.</li>
        <li>Natural Language Processing: Experience with text mining, sentiment analysis, and topic modeling using TensorFlow framework.</li>
        <li>Programming: Strong experience in Python, C++/C , Java, and MATLAB.</li>
        <li>Business Administration: Understanding of business principles, marketing, and finance. Experience with project management and team collaboration.</li>
      </ul>        
  
  
  
    <h2>Projects</h2>
      <li>
        <h3>Stoma and Peristomal Skin Complication Imaging Tool</h3>
          <p>At Hollister Incorporated, I led the development of a computer vision and machine learning-based tool for standardizing the measurement and segmentation of stoma and peristomal skin complications. Using smartphone camera images, the tool was able to batch analyze important features and display histogram statistics, while also providing transparent modeling of algorithm performance. The tool was presented to internal decision makers at Hollister Inc. to showcase its potential for product customization and telehealth applications, leading to a better understanding of imaging technology within the company. An IP of my algorithm is in the process of being filed.</p>
      </li>
      <li>
        <h3>Development of a Customized Epileptic Monitoring System</h3>
          <p>I led a collaborative project with the Neurosurgery department at the Medical College of Wisconsin (MCW) to design and implement a customized EEG recording system for invasive monitoring of epileptic patients. The system was designed to meet the unique needs of the patients and the department, and included a custom GUI to monitor critical device information such as battery life and system runtime. Additionally, I optimized the ETL pipeline to automate the offloading of unstructured data, allowing for 24/7 data acquisition without manual intervention. The project resulted in a more efficient and reliable data acquisition process.</p>
      </li>
      <li>
        <h3>Evaluation and Optimization of a Natural Language Processing Model</h3>
          <p>I was responsible for the evaluation of an existing natural language processing model (BERT) at Hollister Incorporated's Futurism initiative. I documented the accuracy, limitations, and requirements for deep learning techniques such as topic modeling and clue estimation. I presented my findings to the leaders of the initiative, discussing steps for improvement, implementation, and upkeep of the machine. Additionally, I specified the skill set and expertise needed for further development, helping the company to take a more informed approach to natural language processing and deep learning.</p>
      </li>
  </div>
</html> 